
<!-- Clients Logo Section Start -->
<section id="brands-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="section-title text-center">
            <h2>Our Clients and Partners</h2>
          </div>

          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.work.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
