{{ partial "global-header.html" .Site.Params.contact }}

<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <script type="text/javascript" src="https://brandnavigator.formstack.com/forms/js.php/apdsite"></script><noscript><a href="https://brandnavigator.formstack.com/forms/apdsite" title="Online Form">Online Form - apdsite</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,3117813" ></a></div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div id="contact-box">


            {{ with .gmaps}}
            <div class="block">
              <h2>{{ .title }}</h2>
                <div class="google-map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12769.046347183008!2d174.753409!3d-36.860157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47c01de0b6db%3A0x70efa4961bef2cff!2s4+Newton+Rd%2C+Grey+Lynn%2C+Auckland+1010!5e0!3m2!1sen!2snz!4v1530048597323" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            {{ end }}

            <div class="block">

              <h2>{{ .box.title }}</h2>
              <ul class="address-block">
                <li>
                  <i class="fa fa-map-marker"></i>{{ .box.address }}
                </li>
                <li>
                  <i class="fa fa-envelope-o"></i>{{ .box.email }}
                </li>
                <li>
                  <i class="fa fa-phone"></i>Phone: <a class="phone" href="tel:093606463">+64 9 360 6463</a>
                </li>
              </ul>
              <ul class="social-icons">
              {{ range .social }}
                <li>
                  <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
                </li>
              {{ end }}
              </ul>
            </div>

        </div>
      </div>
    </div>

    </div>

  </div>
</section>
{{ end }}
