<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body class="blog">

	{{ partial "header.html" . }}

	{{ partial "global-header.html" .Site.Params.blog }}

	<main>
		{{ range .Data.Pages }}
		<div class="post-area">
			<a href="{{ .Permalink }}" class="bold">{{ .Title }}</a>
			<p class="post-date">{{ .Date.Format .Site.Params.dateFormat }}</p>
			<p>{{ .Summary }}</p>
			<a class="readmore" href="{{ .Permalink }}">Read more...</a>
		</div>
		{{ end }}
	</main>

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}

</body>
</html>
