/* APD CSS - Yukti */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,600');


header {
    padding: 10px 0;
}

p {
  color : #333333 ;
}

#slider .block h1 {
  letter-spacing : 0.7px;
  /* font-weight : bold; */
  font-family: 'Montserrat', sans-serif;
  font-size : 23px;
  line-height : 40px;
  padding-bottom : 0px;
  text-transform: capitalize;
}

#slider .block h2 {
  font-size : 43px;
  line-height : 65px;
  letter-spacing: 3px;
}

#slider .block p, h1, h1 + p, #contact-form .block button,
.post-date,
#contact-box .block h2  {
  font-family: 'Montserrat', sans-serif;
}

.post-area a:link, .post-area a:visited {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight : bold;
}

p {
  font-size : 16px;
  line-height : 2;
  text-align : left;
}

#service .section-title {
  margin-bottom : 20px;
  margin-top : 50px;
}

#service .row:first-child .section-title {
  margin-top : 0px;
}

.service-block {
  color: #333333;
  padding-top: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

#service .service-item p {
  font-size : 16px;
  color : #333333;
}

.service-block ul{
  list-style-type: disc;
  list-style-position: inside;
}

.portfolio-contant .position-center p {
  text-align: center;
  color : #ffffff;
}

#global-header .block h1 {
  font-weight : bold;
  letter-spacing: 3px;
  font-size: 43px;
  line-height: 65px;
}

#global-header p {
  display : none;
}

#call-to-action h2 {
  line-height : 1.3;
  letter-spacing: 1.3px;
}

a.phone {
  color : #333333;
}


/* Hero Image*/

#slider {
    background: url(../img/mainbg_new.jpg) no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: right center;
  }

 #global-header {
    background: url(../img/globalheader.jpg) no-repeat;
    background-size: cover;
    background-position: right center;
  }

.work #global-header {
   background-image: url(../img/team2.jpg) ;
   background-position: top right;
}

.service #global-header {
   background-image: url(../img/blackboard.jpg) ;
   background-position: top right;
}

.contact #global-header {
   background-image: url(../img/leaves.jpg) ;
   background-position: center right;
}

.blog #global-header {
   background-image: url(../img/blog.jpg) ;
   background-position: top right;
}

#global-header:before {
  background : rgba(00,00,00,0.4);
}

/* Feature section on home page*/
  #feature {
    height : 500px;
  }

  #feature {
      background: url(../img/map.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: right top;
      background-color: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

#clients-logo-section .section-title {
  margin-bottom : 20px;
}

  .textCentre {
    text-align: center;
  }

#slider:before {
  /* background : rgba(00,00,00,0.8); */
  background : none;
}


#brands-section {
  padding: 100px 0;
}

#terms {
  padding: 100px 0;
}

/* Button */

#call-to-action .btn-call-to-action, #fsSubmitButton3117813 {
    padding: 12px 25px;
    border: none;
    background-color: #D9708D !important;
    font-size: 15px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight : bold;
    text-transform : uppercase;
    letter-spacing : 2px;
    color: #ffffff;
    transition: all .5s ease;
    margin-top : 5px;
}

.post-area a.readmore {
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight : 700;
}

/* Call to action */

#call-to-action {
  background:none;
  background : #000000;
  padding : 60px 0;
}

#call-to-action:hover .btn-call-to-action {
  transform: scale(1.1);
  transition: all .5s ease;
}

/* Contact button in Nav*/
#bs-example-navbar-collapse-1 ul li:last-child a:before {

  content: "\f095";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right : 5px;
  /* webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
}

#global-header .block {
  padding-left :0;
}



a.btn.btn-view-works {
  margin-top : 20px;
}

/* Blog */
.post h3 {
  font-size : 19px;
  font-weight: 400;
}

.post #intro .block img {
  padding-left : 0;
}

.post #intro {
  padding : 20px;
}

.navbar-brand img {
  width : 75px;
  height : 75px;
}

.navbar-brand {
    height: 80px;
  }

  header .navbar-default .navbar-nav {
      padding-top: 20px;
  }

  .col-md-4:nth-child(3n+1){
    clear: left;
}

#portfolio-work .block .portfolio-contant ul li .position-center {
  width : 100%;
  left : 0;
}

#portfolio-work .block .portfolio-contant ul li {
    width: 31.22%;
}

/* Nav */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color : transparent;
  border-bottom : 2px solid #000000;
  /* border: solid 5px transparent;
  background: #3E4377; */
}

/* .navbar-default .navbar-nav>.active>a:hover:after {
    content: '';
    display: block;
    width: 100;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.navbar-nav>li a:after {
  width: 0;
} */


.navbar-nav>li a {
  padding: 10px 9px !important;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav>li {
  padding : 0 15px ;
}

/* */

.home #intro .block p {
  color : #333333;
  font-size: 18px;
  padding-top : 0;
}



/* Contact */
#fsSection66222544 .fsSectionHeader {
  display : none;
}

#fsSubmitButton3117813 {
  border-radius: 4px !important;
  line-height : 21px !important;
}

.fsLabelVertical .fsLabel {
    font-weight: bold;
}

/* Footer */
.footer-loc i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
  padding-bottom : 6px;
}

footer {
  padding : 0;
}

.footer-block {
    background: #F5F5F5;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 35px;
}

/* Copyright*/

.copy {
  background: #555555;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright  p {
  text-align: center;
  margin-bottom : 0;
  color : #cccccc;
}







/* Mobile Styles */
@media (max-width: 768px) {
  .section-title {
      margin-bottom: 0px;
  }
  .clients-logo-img img {
    display : block;
    margin : auto;
  }

  section#intro, section#brands-section, section#service, section#portfolio-work, section#contact-form {
    padding-top : 30px;
    padding-bottom : 30px;
  }



  #slider .block h2, #global-header .block h1 {
    font-size : 23px;
    font-weight : bold;
    line-height : 35px;
  }

  #global-header {
    padding : 40px 0;
  }

  #service,  #intro {
    padding : 15px;
  }

  #feature {
    background-position: center;
    height: auto;
    background-attachment: scroll;
    min-height: 31vh !important;
    padding : 0;
  }

  #call-to-action h2 {
    padding-bottom: 20px;
    line-height: 22px;
    margin: 0;
    font-size: 20px;
  }

  #call-to-action {
    padding : 40px 0;
  }

  .navbar-default .navbar-nav>.active>a {
    border : 0;
  }

  #contact-box {
    padding : 0 15px;
  }

  .home #intro .block p {
    color : #333333;
    font-size: 16px;
    line-height : 27px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }

  #portfolio-work .block .portfolio-contant ul li {
    width: 100%;
  }

}

/* iPad & up */

@media (min-width: 768px) and (max-width: 1200px) {
  #feature {
    background-attachment: scroll;
    min-height: 42vh !important;
  }

  #slider .block h2, #global-header .block h1 {
    font-size : 30px;
  }

  #global-header {
    padding : 60px 0;
  }
}


/* iPad Pro & under */
@media (max-width: 1200px) {
  #slider:before, #global-header:before {
    background : rgba(00,00,00,0.7);
    /* background : none; */
  }

  #contact-box .google-map iframe {
    width : 100%;
  }
}
